{% extends "templates/admin_base.html" %} {% block content %}
<div class="w-full border-box px-6">
  <table class="w-full table-auto text-center">
    <thead class="border-b">
      <td class="text text-2xl font-bold">Assignee</td>
      <td class="text text-2xl font-bold">Asset</td>
      <td class="text text-2xl font-bold">Date Assigned</td>
    </thead>
    <tbody>
      {% for assignment in assignments reversed %}
      <tr class="border-b my-5 py-2">
        <td class="text text-xl font-semibold py-3">
          {{assignment.asset_assignee.fname}} {{assignment.asset_assignee.lname}}
        </td>
        <td class="text text-xl font-semibold">{{assignment.asset}}</td>
        <td class="text text-xl font-semibold">{{assignment.date_issued|date:"d m, Y"}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  <div class="add-user">
    <a href="assignasset">
       <i
      class="bi bi-plus-circle-fill text-slate-950 text-7xl absolute right-10 bottom-10 cursor-pointer z-50"
    ></i>
    </a>
   
  </div>
</div>
{% endblock content %}
