{% extends "templates/admin_base.html" %} {% block content %}
<div class="w-full border-box px-6">
  <table class="w-full table-auto text-left">
    <thead class="border-b">
      <td class="text text-2xl font-bold">ID</td>
      <td class="text text-2xl font-bold">Name</td>
      <td class="text text-2xl font-bold">position</td>
      <td class="text text-2xl font-bold">Department</td>
    </thead>
    <tbody>
      {% for staff in staffs reversed %}
      <tr class="border-b my-5 py-2">
        <td class="text text-xl font-semibold py-3">{{staff.id}}</td>
        <td class="text text-xl font-semibold">
          {{staff.fname}} {{staff.lname}}
        </td>
        <td class="text text-xl font-semibold">{{staff.position}}</td>
        <td class="text text-xl font-semibold">{{staff.dept}}</td>
        <td class="text text-lg font-semibold flex justify-center text-white bg-red-600  mt-2 rounded-lg"><a href="/delete_staff/{{staff.id}}">delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  <div class="add-user">
    <a href="register">
       <i
      class="bi bi-plus-circle-fill text-slate-950 text-7xl absolute right-10 bottom-10 cursor-pointer z-50"
    ></i>
    </a>
   
  </div>
</div>
{% endblock content %}
